h1{
	color:red;
}
.card p {
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: bold;
}
.card{
	margin-top: 15px;
}
.card-block:nth-child(odd){
	margin-top: 20px;
    border-radius: 10px;
    padding: 15px;
    background-color: #f1f1f1;
}
.card-block:nth-child(even){
	margin-top: 20px;
    border-radius: 10px;
    padding: 15px;
    background-color: #c7c7c7;
}